{
  "message": "",
  "error": 0,
  "data": {
    "categories": [
      {
        "id": 1,
        "name": "Rules and Advices",
        "img": "https://i.ibb.co/brGMPJP/2024-05-02-16-00-52.png",
        "price": 30,
        "created_at": null,
        "goods": [
          {
            "id": 91,
            "name": "Launch the ball",
            "img": "https://i.ibb.co/hVWSqpG/launch.jpg",
            "price": 200,
            "description": "Touch the screen with your finger to aim, then swipe to the desired location and release your finger"
          },
          {
            "id": 90,
            "name": "What to do",
            "img": "https://i.ibb.co/2gKyYRv/todo.jpg",
            "price": 250,
            "description": "You must launch a red ball at the white ones, you have 5 red balls, if the red ball does not hit the white one and goes off the field, you lose 1 red ball, after losing all 5 red balls the game is over, if you hit the white one, a point is added"
          },
			{
            "id": 92,
            "name": "Buttons",
            "img": "https://i.ibb.co/k4PJWvf/buttons.jpg",
            "price": 300,
            "description": "In the playing field, when you press the home button, you are taken to the main screen; when you press pause, you pause the game"
          }
			
        ]
      },
      {
        "id": 2,
        "name": "Patterns part 2",
        "img": "https://i.ibb.co/s2SJ8LC/basket-t-shirt.jpg",
        "price": 35,
        "created_at": null,
        "goods": [
          {
            "id": 101,
            "name": "Symmetrical Triangles",
            "img": "https://i.ibb.co/K0Lscnr/Symmetrical-Triangles.png",
            "price": 250,
            "description": "Symmetrical triangles occur when two trend lines converge toward each other and signal only that a breakout is likely to occur, there is no upward or downward trend. The magnitude of the breakouts or breakdowns is typically the same as the height of the left vertical side of the triangle, as shown in the figure below."
          },
          {
            "id": 102,
            "name": "Cup and Handles",
            "img": "https://i.ibb.co/wYPnNSn/Cup-and-Handles.png",
            "price": 350,
            "description": "The cup and handle is a bullish continuation pattern where an upward trend has paused but will continue when the pattern is confirmed. The cup portion of the pattern should be a U shape that resembles the rounding of a bowl rather than a V shape with equal highs on both sides of the cup. The handle forms on the right side of the cup in the form of a short pullback that resembles a flag or pennant chart pattern. Once the handle is complete, the stock may breakout to new highs and resume its trend higher."
          },
			{
            "id": 103,
            "name": "Head and Shoulders",
            "img": "https://i.ibb.co/N2d1NDd/headandshoulders.png",
            "price": 700,
            "description": "Head and shoulders is a reversal pattern that can appear at market tops or bottoms as a series of three pushes an initial peak or trough, followed by a second and larger one, and then a third push that mimics the first. An uptrend interrupted by a head and shoulders top pattern may experience a trend reversal, resulting in a downtrend. Conversely, a downtrend that results in a head and shoulders bottom (or an inverse head and shoulders) will likely experience a trend reversal to the upside. Horizontal or slightly sloped trendlines can be drawn connecting the peaks and troughs between the head and shoulders, as shown in the figure below. Volume may decline as the pattern develops and spring back once the price breaks above (in the case of a head and shoulders bottom) or below (in the case of a head and shoulders top) the trendline."
          }
        ]
      }
    ]
  }
}
