{
  "message": "",
  "error": 0,
  "data": {
    "categories": [
      {
        "id": 1,
        "name": "Rules and Advices",
        "img": "https://i.ibb.co/brGMPJP/2024-05-02-16-00-52.png",
        "price": 30,
        "created_at": null,
        "goods": [
          {
            "id": 91,
            "name": "Launch the ball",
            "img": "https://i.ibb.co/hVWSqpG/launch.jpg",
            "price": 200,
            "description": "Touch the screen with your finger to aim, then swipe to the desired location and release your finger"
          },
          {
            "id": 90,
            "name": "What to do",
            "img": "https://i.ibb.co/2gKyYRv/todo.jpg",
            "price": 250,
            "description": "You must launch a red ball at the white ones, you have 5 red balls, if the red ball does not hit the white one and goes off the field, you lose 1 red ball, after losing all 5 red balls the game is over, if you hit the white one, a point is added"
          },
          {
            "id": 92,
            "name": "Buttons",
            "img": "https://i.ibb.co/k4PJWvf/buttons.jpg",
            "price": 300,
            "description": "In the playing field, when you press the home button, you are taken to the main screen; when you press pause, you pause the game"
          }
        ]
      }
    ]
  }
}
